<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hive Paint Factory</title>
	<link href="../static/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<header>
		<div class="nav-content flex-container">
			<div class="logo">
				<img id="logoimg" src="https://img.icons8.com/external-icongeek26-outline-gradient-icongeek26/452/external-sandwich-baking-and-bakery-icongeek26-outline-gradient-icongeek26.png" alt="School logo">
			</div>
			<div class="logo">
				<h1>Hive<span id="light">Paint Factory</span></h1>
			</div>
			<div class="nav-desktop">
				<div class="drop">
					<a class="navspan dropdown">New Products</a>
					<div class="dropdown-content">
						<a href="#">Name</a>
						<a href="#">Name</a>
						<a href="#">Name</a>
						<a href="#">Name</a>
						<div class="drop-secondary">
							<a class="dropdown-secondary" href="#">Souse</a>
							<div class="dropdown-secondary-content">
								<a href="#">Mayonnaise</a>
								<a href="#">Dijon</a>
								<a href="#">Pesto</a>
								<a href="#">None</a>
								<div class="drop-third">
									<a class="dropdown-third" href="#">Souse</a>
									<div class="dropdown-third-content">
										<a href="#">Mayonnaise</a>
										<a href="#">Dijon</a>
										<a href="#">Pesto</a>
										<a href="#">None</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="drop">
					<a class="navspan dropdown">Name</a>
					<div class="dropdown-content">
						<a href="#">Name</a>
						<a href="#">Name</a>
						<a href="#">Name</a>
						<a href="#">Name</a>
						<div class="drop-secondary">
							<a class="dropdown-secondary" href="#">Name</a>
							<div class="dropdown-secondary-content">
								<a href="#">Name</a>
								<a href="#">Name</a>
								<a href="#">Name</a>
								<a href="#">Name</a>
							</div>
						</div>
					</div>
				</div>
				<div class="drop">
					<a class="navspan dropdown">Categories</a>
					<div class="dropdown-content">
						<a href="#">Name</a>
						<a href="#">Name</a>
						<a href="#">Name</a>
						<a href="#">Name</a>
					</div>
				</div>
				<div class="drop">
					<a class="navspan dropdown">Name it</a>
					<div class="dropdown-content">
						<a href="#">Margherita</a>
						<a href="#">Marinara</a>
						<a href="#">Pepperoni</a>
						<a href="#">Three Cheeses</a>
					</div>
				</div>
				<div class="drop">
					<a class="navspan dropdown">Basket</a>
					<div class="dropdown-content">
						<a href="#">Pre-Order</a>
						<a href="#">Pay by card</a>
						<a href="#">Give a tip</a>
						<a href="#">MobilePay</a>
					</div>
				</div>
				</div>
			</div>
		</div>
	</header>

	<main>

		        <!--Third section (programs)-->
				<form class="third-section">
					<div>
						<h3 class="heading">Items</h3>
					</div>
					<div class="courses flex-container">
						<div class="course flex-container">
							<div>
								
							</div>
							<div class="item_list">
								<h4 id="marged">Name</h4>
								<p class="hide" id="text">{}</p>
								<p id="description">Web Development, Mobile Development, iOT, APIs</p>
							</div>
						</div>
					</form>

	</main>
</body>

<div class="item flex-container">
	<div>
		<img class="item-img" src="./images/course-software.jpg" alt="Picture of computers">
	</div>
	<div class="item-content">
		<h4 class="item_name" id="marged">Software engeneering</h4>
		<p class="hide" id="text">Price: </p>
	</div>
</div>